html {
    font-size: 2vmin;
}

html.single,
html.only-icon {
    font-size: 8vmin !important;
}

body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

.bg-light1 {
    background-color: rgba(255, 255, 255, 1) !important;
}
.bg-light10 {
    background-color: rgba(165, 183, 192, 1) !important;
}
.bg-light17 {
    background-color: rgba(95, 127, 143, 1) !important;
}
.bg-dark14 {
    background-color: rgba(68, 91, 103, 1) !important;
}
.bg-dark9 {
    background-color: rgba(43, 56, 63, 1) !important;
}
.bg-dark5 {
    background-color: rgba(23, 28, 31, 1) !important;
}
.bg-dark3 {
    background-color: rgba(13, 14, 15, 1) !important;
}
.bg-dark1 {
    background-color: rgba(0, 0, 0, 1) !important;
}

/*
.btn.bg-light1:hover {
    background-color: rgba(255, 255, 255, 1) !important;
}
.bg-light10:hover {
    background-color: rgba(165, 183, 192, 1) !important;
}
.bg-light17:hover {
    background-color: rgba(95, 127, 143, 1) !important;
}
.bg-dark14:hover {
    background-color: rgba(68, 91, 103, 1) !important;
}
.bg-dark9:hover {
    background-color: rgba(43, 56, 63, 1) !important;
}
.bg-dark5:hover {
    background-color: rgba(23, 28, 31, 1) !important;
}
.bg-dark3:hover {
    background-color: rgba(13, 14, 15, 1) !important;
}
.bg-dark1:hover {
    background-color: rgba(0, 0, 0, 1) !important;
}
*/

.text-brand {
    color: rgba(47, 162, 219, 1) !important;
}
.text-dark {
    color: rgba(0, 0, 0, 1) !important;
}
.text-green {
    color: rgba(58, 145, 30, 1) !important;
}
.text-light {
    color: rgba(255, 255, 255, 1) !important;
}
.text-red {
    color: rgba(194, 38, 38, 1) !important;
}
.text-yellow {
    color: rgba(251, 188, 5, 1) !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.btn {
    border:none;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.item {
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
    font-size: 10rem;
}

.fa {
    margin-bottom: 2rem;
}

html:not(.only-icon) > body > button > .item > .fa {
    font-size: 18rem !important;
}

html.only-text:not(.single) > body > button > .item {
    margin-top: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

@media screen and (max-height: 100px),
screen and (max-width: 100px){
    .item {
        flex-direction: row;
    }

    @media screen and (min-aspect-ratio: 7/1) {
        i.d-none + span {
            font-size: 3vw;
        }
    }
    html:not(.only-icon) > body > button > .item > .fa {
        font-size: 10rem !important;
    }
}

@media screen and (min-aspect-ratio: 14/2), screen and (min-aspect-ratio: 8/2), screen and (max-height: 100px) {
    @media screen and (min-height: 100px) and (min-width: 100px) {

    }
    html.only-text {
        font-size: 0.9vw;
    }
    html:not(.only-text) {
        font-size: 1vw;
    }
    .item {
        flex-direction: row;
    }
    i {
        margin-bottom: 0;
        margin-right: 4rem;
    }
}

@media screen and (max-width: 100px) {
    html:not(.only-text){
        font-size: 6vmin;
    }
    i {
        margin: 0;
        align-self: flex-start;
    }

    .item > span {
        display: none;
    }

    html:not(.only-text) > body > button > .item {
        font-size: inherit !important;
    }

}
